# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# Build
dist/
build/

# Uploads (local only)
backend-vite/uploads/

# Local Mongo data (DO NOT PUSH)
mongodb/

# OS / Editor
.DS_Store
Thumbs.db

1678c46bb48a0dddc5d63a6090004ca4ed3de85e.png
frontend-vite/public/logo192.png
frontend-vite/public/logo512.png

config.bat
